VITE_SUPABASE_URL=https://etkrcmqaiymoenavkzbq.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_4x3uv8vOIm_8vsP0wOqa3w_P7CtTDzG
VITE_GOOGLE_MAPS_API_KEY=
VITE_SHOP_PHONE=
VITE_SHOP_WHATSAPP=
VITE_SHOP_EMAIL=
